/vendor
/node_modules
/public/file_to_import
/public/pdf
/storage/exports
Homestead.yaml
Homestead.json
.env
.DS_Store
.idea/blade.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/muserpol.iml
.idea/vcs.xml
.idea/workspace.xml
