.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 20cm;  
  height: 29.7cm; 
  margin: -40px -20px auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 10px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
}

#logo {
  text-align: left;
  margin-bottom: 5px;
}
#logo2 {
  text-align: right;
  margin-bottom: 5px;
  margin-right: 15px;
}

#logo img {
  width: 150px;
}

#logo2 img {
  width: 75px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 10px 0;
}
h3 {
  color: #5D6975;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 0 0;
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 240px;
  margin-right: 10px;
  display: inline-block;
  font-size: 1em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 8px;
}

.tableh {
  width: 100%;
  border-top: 1px solid  #5D6975;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
}

.tablet {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 0;
  margin-top: -6px;
}

table tr:nth-child(2n-1) td {
  /*background: #F5F5F5;*/
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 3px 0 1px 12px;
  color: #5D6975;
  border: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 3px 12px 1px 12px;
  text-align: left;
  border: 1px solid #C1CED9;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
  text-align: right;
  width: 50%;

}

table td.info {
  font-size: 1em;
  width: 60%;
}

table td.grand {
  background: #F5F5F5;
}

table th.grand {
  background: #F5F5F5;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

.title {
  margin-bottom: 2px;
}

footer {
  color: #5D6975;
  width: 100%;
  height: -15px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}